html {
  font-family: 'Courgette', cursive;
}


body {
    background-image: url(http://hivewallpaper.com/wallpaper/2015/01/space-stars-hd-19-hd-wallpaper.jpg);
}

head {
    background-color: fff;
  }

  body {
      color: white;
  }
